body {
  max-width: 960px;
  margin: 200px auto;
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 60px;
  font-size: 40px;
}

.games-container {
  max-width: 1250px;
  margin: auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}

.result {
  border: 2px solid #5ac6cc;
  margin: 10px;
  padding: 10px;
  width: 320px;
  height: auto;
  text-align: center;
}

.error {
  color: red;
  border: 2px solid red;
  margin: 10px;
  padding: 20px;
  width: 210px;
  height: auto;
  background: rgba(255, 0, 0, 0.1);
}

.loader {
  content: "";
  width: 120px;
  height: 120px;
  border: 15px solid transparent;
  border-top-color: #5ac6cc;
  border-radius: 60%;
  animation: spinning 2s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
